*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #ebefff 0%, #d9d9d9 100%);
  font-family: Avenir, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  color: black;
  height: 100vh;
}

.form-section {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 40rem;
  background: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.form-section:hover {
  transform: translateY(-3px);
  transition: transform 500ms ease;
  box-shadow: 0 25px 70px rgba(205, 205, 205, 0.4);
}
