*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f3f7;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  color: black;
}

.form-section {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 30rem;
  background: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  position: relative;
}
