*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  color: black;
}

.form-section {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 30rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
}
.form-section:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
